<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title><% if(typeof(title)!=='undefined') { %><%- title %><% } else { %><%- blog.title %><% } %></title>

  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="keywords" content="taller, reparación, armas, armería, armero, madrid, españa, culatas, visores, mantenimiento, josé viaji, escopetas, rifles" >
  <meta name="description" content="Todo tipo de reparaciones tanto en escopetas como en rifles, en nuestras propias instalaciones y atendidos personalmente por José Viaji"/>

  <link rel="shortcut icon" href="favicon.ico">

  <link rel="stylesheet" href="/assets/css/lib/magnific-popup.css">

  <link rel="stylesheet" type="text/css" href="/assets/css/screen.css" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic|Open+Sans:700,400" />


</head>
<body class="<% if(current.source == 'index') { %>home-template<% } else { %>post-template<% } %>" onload="initialize()">

  <% if(current.source == 'index' && current.path.length == 1) { %>
    <%- yield %>
  <% } else { %>
    <%- partial("_page") %>
  <% } %>

  <%- partial("_shared/footer") %>

  <script src="//maps.google.com/maps/api/js?sensor=false"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="/assets/js/index.js"></script>
  <script src="/assets/js/lib/popup.js"></script>
  <script src="/assets/js/gallery.js"></script>

</body>
</html>
