<!-- The big featured header on the homepage, with the site logo and description  -->
<div class="hero">
  <%- partial("_shared/nav") %>
	<div class="hero-inner">
    <a class="hero-logo" href="<%= blog.url %>"><img src="<%= blog.logo %>" alt="Blog Logo" /></a>
		<div class="hero-copy">
			<h1><%= blog.title %></h1>
			<p><%= blog.description %></p>
		</div>
	</div>
</div>

<main role="main">
  <section class="container">

    <section>
      <div class="banner-items">
        <a href="http://www.arrietashotguns.com/index.php/es/" target="_blank" class="banner-item banner-item-big banner-item-image">
          <img src="/assets/images/logos/arrieta-banner.png" alt="Arrieta Logo">
          <h1>Distribuidor oficial</h1>
          <p>En exclusiva de las escopetas Arrieta y Arrizabalaga en España.</p>
        </a>
      </div>
    </section>

    <section>
      <h5>Especialistas</h5>
      <hr>
      <p>Regulamos gatillos y disparadores, ponemos armas a medidas del cazador: Curvaturas en la culata, ventaja lateral en la culata, Pich, largo de culata, cantoneras de goma y un largo etc. <a href="/contacto">Contáctanos ante cualquier duda</a>.</p></li>

      <div class="popup-gallery">
        <% for (index_photo in photos) { %>
          <% var photo = photos[index_photo] %>
          <div class="image-gallery">
             <a href="<%= photo.big %>"><img src="<%= photo.small %>"></a>
          </div>
        <% } %>
      </div>

      <p>Marcas que reparamos, si hay alguna que no se encuentra en esta lista, no dudes en <a href="/contacto">contactarnos</a>:</p>

      <div class="cards">
        <% for (index_logo in logos) { %>
        <% var logo = logos[index_logo] %>
        <div class="card">
          <div class="card-image">
            <% if (typeof(logo.link)!=='undefined') { %><a href="<%= logo.link %>" target="_blank"><% } %>
            <img src="<%= logo.src %>" />
            <% if (typeof(logo.link)!=='undefined') { %></a><% } %>
          </div>
        </div>
        <% } %>
      </div>
    </section>
  </section>
</main>
