<footer class="footer">
  <div class="footer-logo">
    <img src="/assets/images/logo-white.svg" alt="<%= blog.title %>">
  </div>
  <div class="footer-links">
    <% for (page in navigation) { %>
      <ul>
        <li class="nav-link">
          <a href="<%- navigation[page].url %>"><%- navigation[page].title %></a>
        </li>
      </ul>
    <% } %>
  </div>

  <hr>

  <p><a href="<% blog.url %>/"><%= blog.title %></a>, <%- new Date().getFullYear() %>.</p>
</footer>
